.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*App*/

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tg{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*Slide number display*/

.slidenumberdisplay{
  margin: 10px;
  font-size: 3rem;
}

.slidingin{
  height: 30px;
  width: 90%;
  margin: 10px;
  background-color: chartreuse;
}





/*ITEM TRANSISTION*/


.item-enter{
  transform: translateX(-120%);
  transition: 5s;

}

.item-enter-active{
  transform: translateX(0%);

}

/* .item-exit {
  transform: translateX(0%);
  transition: 5s;

 
}

.item-exit-active {
  transform: translateX(120%);

} */
